.input {
  display: flex;
  flex-direction: column;

  &__element {
    border: 2px solid var(--gray);
    padding: 16px;
    border-radius: 6px;
    height: 18px;
    min-width: 253px;

    &--error {
      border-color: var(--error);
    }

    &::placeholder {
      font-size: 15px;
    }
  }

  &__message {
    color: var(--error);
  }
}
