.input {
  display: block;
  &__input {
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;

    &--error {
      border: 2px solid red;
    }
  }

  &__error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
    text-align: left;
  }
}
