.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__item {
    width: 32.2%;

    @media screen and (max-width: 1200px) {
      width: 31.3%;
    }

    @media screen and (max-width: 900px) {
      width: 48%;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
}

.no-gifs { 
  margin-top: 100px;
  display: flex;
  justify-content: center;

  &__icon {
    width: 80px;
    height: 80px;
  }

  &__text {
    align-self: center;
    color: white;
    margin-left: 50px;
  }
}
