.button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  border-radius: 10px;
  cursor: pointer;
  max-height: 49px;

  &--primary {
    background-color: var(--main);
    color: white;
    border: none;
  }

  &--secondary {
    background-color: white;
    color: var(--main);
    border: 2px solid var(--main);
  }
}
