.add-input {
  display: flex;
  flex-direction: row;

  gap: 16px;

  &__label-container {
    margin-bottom: 12px;
  }

  &__label {
    font-size: 24px;
  }

  &__input {
    width: 340px;
  }
  &__button {
    height: 52px;
  }

  &__button-responsive {
    height: 52px;
    display: none;
  }
}

@media (max-width: 600px) {
  .add-input {
    &__button {
      display: none;
    }

    &__button-responsive {
      display: block;
    }
  }
}
