.app {
  max-width: 1024px;
  margin: auto;
  &__color-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__color-title {
    min-width: 70px;
  }

  &__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 20px;

    &--main {
      background-color: var(--main);
    }
    &--background {
      background-color: var(--background);
    }
  }

  &__icon-container {
    display: flex;
  }

  &__icon-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
}

.button {
  border: none;
  color: #b234b1;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
