.app {
  max-width: 1024px;
  margin: auto;
  text-align: center;
  &__head{
    margin: 0 auto;
    width: fit-content;
  }
  &__title{
    color: white;
  }
  &__images{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
  }
  &__color {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 20px;

    &--main {
      background-color: var(--main);
    }
    &--background {
      background-color: var(--background);
    }
  }

}
body{
  background-color: var(--background);

}