body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main: #b234b1;
  --background: #1c1c1c;
  --gray: #b1b1b1;
  --error: #d50707;
}
