body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: white;
}

:root {
  --main: #b234b1;
  --background: #1c1c1c;
}

* {
  box-sizing: border-box;
}
