.modal {
  &__background {
    z-index: 2;
    background: rgba(32, 35, 41, 0.8);
    position: fixed;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    h2 {
      text-align: center;
      margin: 10px 0 20px 0;
    }
  }

  &__form {
    width: 80%;
    min-width: 288px;
    max-width: 800px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 4px;
    margin: 0 auto;
    border: 3px var(--border-color) solid;
    min-height: 300px;
  }

  .form-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
